.contents {
  padding: 20px;
}

.edit-visibility {
  margin: 120px 0 40px 0;
  padding: 20px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.visibility {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.visibility p {
  font-weight: 700;
}

.toggle-switch {
  position: relative;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label-on {
  background-color: #3354C6;
}

.toggle-inner {
  width: 23px;
  height: 23px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-on {
  transform: translateX(25px);
}

.section-content {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 10px;
}