@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-primaria: #de0613;
  --color-secondary: #201f1f;
  --cor-textos: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-secondary);
  color: var(--cor-textos);
}


body a {
  color: var(--cor-textos);
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {

  .content {
    padding: 20px;
    margin: 0;
  }

}



